<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Automation Exercise Regression Suite" parallel="tests" thread-count="2">
    <test name="Chrome Test">
        <parameter name="browserName" value="CHROME"></parameter>
        <classes>
            <class name="CategoriesTCs"></class>
        </classes>
    </test>
    <test name="Firefox Test">
        <parameter name="browserName" value="FIREFOX"></parameter>
        <classes>
            <class name="CategoriesTCs"></class>
        </classes>
    </test>
</suite>